.container-list{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-item{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
    border: 1px solid #9c9a9a;
    padding: 10px;
    border-radius: 8px;
    position: relative;
}

.list-title, .list-image:hover{
    cursor: pointer;
}

.list-image{
    width: 100px;
    height: 100px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #9c9a9a; 
}

.list-image img{
    width: 150%;
    height: auto;
}

.list-title{
    margin-left: 50px;
}

.list-title h3{
    margin: 0;
    color: #706f6f;
}

@media screen and (max-width: 650px){
    .list-image{
        width: 80px;
        height: 80px;
    }

    .list-title h3{
        font-size: 18px;
    }
}

